<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:replace="/common/base::bootstrapCssFragment">
    <link th:replace="/common/base::cssFragment">
    <link th:replace="/common/base::fontAwesomeFragment">
    <title>Product - Details</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/product_detail_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

</head>
<body>
<section th:replace="/common/base::navbarFragment"></section>

<!--    <h1 th:text="${productDto.photo}"></h1>-->

<div class = "card-wrapper">
    <div class = "card">
        <!-- card left -->
        <div class = "product-imgs">
            <div class = "img-display">
                <div class = "img-showcase">
                    <img th:src="@{'/image/' + ${productDto.photo}}"  alt = "No image">
                    <img src = "/image/shoe_2.jpg" alt = "shoe image">
                    <img src = "/image/shoe_3.jpg" alt = "shoe image">
                    <img src = "/image/shoe_4.jpg" alt = "shoe image">
                </div>
            </div>
            <div class = "img-select">
                <div class = "img-item">
                    <a href = "#" data-id = "1">
                        <img src = "/image/shoe_1.jpg" alt = "shoe image">
                    </a>
                </div>
                <div class = "img-item">
                    <a href = "#" data-id = "2">
                        <img src = "/image/shoe_2.jpg" alt = "shoe image">
                    </a>
                </div>
                <div class = "img-item">
                    <a href = "#" data-id = "3">
                        <img src = "/image/shoe_3.jpg" alt = "shoe image">
                    </a>
                </div>
                <div class = "img-item">
                    <a href = "#" data-id = "4">
                        <img src = "/image/shoe_4.jpg" alt = "shoe image">
                    </a>
                </div>
            </div>
        </div>
        <!-- card right -->
        <div class = "product-content">
            <p class = "product-title" th:text="${productDto.name}">nike shoes</p>
            <a href = "#" class = "product-link">visit nike store</a>
            <div class = "product-rating">
                <i class = "fas fa-star"></i>
                <i class = "fas fa-star"></i>
                <i class = "fas fa-star"></i>
                <i class = "fas fa-star"></i>
                <i class = "fas fa-star-half-alt"></i>
                <span>4.7(21)</span>
            </div>

            <div class = "product-price">
                <p class = "last-price">Old Price: <span th:text="${productDto.price}">$257.00</span></p>
                <p class = "new-price">New Price: <span th:text="${productDto.discountedPrice() + ' (' + productDto.discount + '%)'}">$249.00 (5%)</span></p>
            </div>

            <div class = "product-detail">
                <h2>about this item: </h2>

                <p th:text="${productDto.description}"></p>

                <ul>
                    <li>Color: <span>Black</span></li>
                    <li>Available: <span>in stock</span></li>
                    <li>Category: <span th:text="${productDto.categoryDto.title}">Shoes</span></li>
                    <li>Shipping Area: <span>All over the world</span></li>
                    <li>Shipping Fee: <span>Free</span></li>
                </ul>
            </div>

            <div class = "purchase-info">
                <input type = "number" min = "0" value = "1">
                <button type = "button" class = "btn" th:data-name="${productDto.name}" th:data-id="${productDto.id}" th:data-price="${productDto.discountedPrice()}"
                        th:onclick="add_to_cart(this.getAttribute('data-id') ,
                                    this.getAttribute('data-name'), this.getAttribute('data-price') ) ">
                    Add to Cart <i class = "fas fa-shopping-cart"></i>
                </button>
                <a th:href="@{'/all-products?category=' + ${productDto.categoryDto.id}}"
                   th:data-id="${productDto.categoryDto.id}"
                   th:onclick="'window.location.href=\'/all-products?category=' + ${productDto.categoryDto.id} + '\''"
                >
                    <button style="background: #407b43;" type="button" class="btn">See More</button>
                </a>

                <th:block th:if="${userDto.role == 'ROLE_ADMIN'}">
                    <a href="#">
                        <button style="background: #673ab7;" type="button" class="btn update"
                                data-bs-toggle="modal" data-bs-target="#update-product-modal"
                        >Update</button>
                    </a>

                    <a th:if="${productDto.status == true}"  th:href="@{'/admin/soft-delete-product?product=' + ${productDto.id}}"
                       th:data-id="${productDto.id}"
                       th:onclick="'window.location.href=\'/admin/soft-delete-product?product=' + ${productDto.id} + '\''"
                    >
                        <button type="button" class="btn delete">Suspend</button>
                    </a>

                    <a th:if="${productDto.status == false}"  th:href="@{'/admin/enable-product?product=' + ${productDto.id}}"
                       th:data-id="${productDto.id}"
                       th:onclick="'window.location.href=\'/admin/enable-product?product=' + ${productDto.id} + '\''"
                    >
                        <button style="background: #928240;" type="button" class="btn delete">Enable</button>
                    </a>
                </th:block>

            </div>

            <div class = "social-links">
                <p>Share At: </p>
                <a href = "#">
                    <i class = "fab fa-facebook-f"></i>
                </a>
                <a href = "#">
                    <i class = "fab fa-twitter"></i>
                </a>
                <a href = "#">
                    <i class = "fab fa-instagram"></i>
                </a>
                <a href = "#">
                    <i class = "fab fa-whatsapp"></i>
                </a>
                <a href = "#">
                    <i class = "fab fa-pinterest"></i>
                </a>
            </div>
        </div>
    </div>
</div>


<!--Modal For Product-->

<div th:fragment="productModal" class="modal fade" id="update-product-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header custom-bg text-white">
                <h5 class="modal-title" id="exampleModalLabel2">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form th:action="@{'/admin/update-product?product=' + ${productDto.id}}" method="post" enctype="multipart/form-data">
                    <div class="form-group mb-3">
                        <label for="name">Enter Name</label>
                        <input th:value="${productDto.name}" id="name" type="text" class="form-control" name="name" placeholder="Enter name.." >
                    </div>
                    <div class="form-group">
                        <label for="description">Enter Description</label>
                        <textarea th:text="${productDto.description}" id="description" class="form-control" name="description" placeholder="Enter Description.." >

                        </textarea>
                    </div>
                    <div class="form-group mb-3">
                        <label for="price">Enter Price</label>
                        <input th:value="${productDto.price}" id="price" type="number" class="form-control" name="price" placeholder="Enter Price.." >
                    </div>
                    <div class="form-group mb-3">
                        <label for="discount">Enter Discount</label>
                        <input th:value="${productDto.discount}" id="discount" type="number" class="form-control" name="discount" placeholder="Enter Discount.." >
                    </div>
                    <div class="form-group mb-3">
                        <label for="quantity">Enter Quantity</label>
                        <input th:value="${productDto.quantity}" id="quantity" type="number" class="form-control" name="quantity" placeholder="Enter quantity.." >
                    </div>
                    <div class="form-group">
                        <label for="categories">Select Category</label>
                        <select name="categoryId" class="form-control" id="categories">
                            <option th:each="category : ${categoryDtos}"
                                    th:value="${category.id}" th:text="${category.title}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input th:value="${productDto.photo}" type="file" name="image" class="form-control-file">
                    </div>
                    <div class="container text-center">
                        <button class="btn btn-outline-success">Add</button>
                        <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<script src="/js/product_detail_style.js"></script>
<section th:replace="/common/modals::cartModal"></section>
<section th:replace="/common/base::jsFragment"></section>
</body>
</html>