<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:replace="/common/base::bootstrapCssFragment">
    <link th:replace="/common/base::cssFragment">
    <title>Title</title>
</head>
<body>
    <section th:replace="/common/base::navbarFragment"></section>
    <div class="container-fluid">
      <div class="row mt-5">

        <div class="col-md-4 offset-md-4">
          <div class="card">

              <!--                        alert message-->
              <div th:if="${message}" th:classappend="${type}" class="alert" role="alert">
                  <p th:text="${message}"></p>
              </div>

              <div class="card-body">
                  <h1> Register Here !! </h1>
                <form th:action="@{/processRegistration}" method="post">

                  <div class="form-group">
                    <label for="name">User Name</label>
                    <input class="form-control" type="text" id="name" name="name" aria-describedby="emailHelp">
                  </div>

                  <div class="form-group">
                    <label for="email">User Email</label>
                    <input class="form-control" type="email" id="email" name="email" aria-describedby="emailHelp">
                  </div>

                  <div class="form-group">
                    <label for="password">User Password</label>
                    <input class="form-control" type="password" id="password" name="password" aria-describedby="emailHelp">
                  </div>

                  <div class="form-group">
                    <label for="phone">User Phone</label>
                    <input class="form-control" type="text" id="phone" name="phone" aria-describedby="emailHelp">
                  </div>

                  <div class="form-group">
                    <label for="address">User Address</label>
                    <textarea class="form-control"
                              id="address" name="address" aria-describedby="emailHelp"
                              placeholder="Enter your Address"
                    >

                    </textarea>

                  </div>
                  <div class="text-center buttons">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-outline-danger">Reset</button>
                  </div>
                </form>
              </div>
          </div>
        </div>
      </div>
    </div>
    <section th:replace="/common/base::jsFragment"></section>
</body>
</html>