<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:replace="/common/base::bootstrapCssFragment">
    <link th:replace="/common/base::cssFragment">
    <link th:replace="/common/base::fontAwesomeFragment">
    <title>Title</title>
</head>
<body>
<section th:replace="/common/base::navbarFragment"></section>

<div th:fragment="hello" th:object="${userDto}">

    <div class="container homeLinks">
        <!--                        alert message-->
        <div th:if="${message}" th:classappend="${type}" class="alert mt-3" role="alert">
            <p th:text="${message}"></p>
        </div>
        <div class="text-center mt-4">
            <h1 th:text=" 'Hello ' + ${userDto.name} ">Hello World!</h1>
        </div>
        <div class="row mt-3">

            <div class="col-md-4">
                <a th:href="@{/user/user-lists}">
                    <div class="card">
                        <div class="card-body">
                            <div class="container text-center">
                                <img class="img-fluid" src="/image/group.png" alt="No Image..">
                            </div>
                            <h1 th:text="${userDtos.size()}">1111</h1>
                            <h1>Users</h1>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="container text-center">
                            <img class="img-fluid" src="/image/categorization.png" alt="No Image..">
                        </div>
                        <h1 th:text="${categories.size()}">2222</h1>
                        <h1>Categories</h1>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <a th:href="@{/user/product-index}">
                    <div class="card">
                        <div class="card-body">
                            <div class="container text-center">
                                <img class="img-fluid" src="/image/products.png" alt="No Image..">
                            </div>
                            <h1 th:text="${products.size()}">3333</h1>
                            <h1>Products</h1>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>




<section th:replace="/common/modals::allModals"></section>
<section th:replace="/common/base::jsFragment"></section>
</body>
</html>