<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:replace="/common/base::bootstrapCssFragment">
    <link th:replace="/common/base::cssFragment">
    <link th:replace="/common/base::fontAwesomeFragment">
    <title>User - Index</title>
</head>
<body>
<section th:replace="/common/base::navbarFragment"></section>
    <div class="row mt-2 mx-2">



        <div class="col-md-2">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    All Products
                </a>
                <a class="list-group-item list-group-item-action"
                   th:each="categoryDto : ${categoryDtos}"
                   th:text="${categoryDto.title}"
                   th:href="@{'/user/product-index?category=' + ${categoryDto.id}}">A second link item
                </a>
            </div>
<!--            <div class="category-lists" th:each="categoryDto : ${categoryDtos}" th:text="${categoryDto}">-->

<!--            </div>-->
        </div>

                        <!--        Product Section-->

        <div class="col-md-10" >
            <div class="row mt-4" >
                <!-- Check if productDtos is empty -->
                <th:block th:if="${#lists.isEmpty(productDtos)}">
                    <h1>No Products in this category</h1>
                </th:block>
                <!-- If productDtos is not empty, iterate through each product -->
                <div class="col-md-4 mb-4" th:each="productDto : ${productDtos}">
                    <div class="card-columns">
                        <div class="card text-center custom-size product-card">
                            <a th:href="@{'/user/product-details?product=' + ${productDto.id}}">
                                <img class="mx-auto d-block" style="max-height: 200px; max-width: 180px; width: auto;"
                                     th:src="@{'/image/'+ ${productDto.photo}}" alt="No Photo..">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title"  th:text="${productDto.name}"></h5>
                                <p class="card-text" th:text="${productDto.description}"></p>
                            </div>

                            <div class="footer">
<!--                                <button class="btn custom-bg text-white" th:onclick="add_to_cart(productDto.id, productDto.name, productDto.price)">ADD to Cart</button>-->
<!--                                -->
                                <a th:href="@{'/product-details?product=' + ${productDto.id} }"
                                   th:onclick="'window.location.href=\'/product-details?product=' + ${productDto.id} + '\''"
                                <button class="btn custom-bg text-white">Details</button>
                                </a>
                                <button class="btn btn-outline-success">
                                    <span th:text="'৳' +${productDto.discountedPrice() + '/-  '}"></span>
                                    <span class="text-secondary discount-label">
                                        <span style="text-decoration: line-through;" th:text="${productDto.price +'/-  '}"></span>
                                        <span th:text="${productDto.discount} + '% off'"></span>
                                    </span>

                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--            Pagination Part-->
            <div class="container text-center">
                <div th:replace="/common/page::my_product_page"></div>
            </div>
        </div>

    </div>
<section th:replace="/common/modals::cartModal"></section>
<section th:replace="/common/base::jsFragment"></section>
</body>
</html>